* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("../img/landscape.png");
  background-size: cover;
  background-position: top;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(25px);
    z-index: 0;
  }
}

.container {
  position: relative;
  z-index: 1;
  width: 90%;
  max-width: 700px;
  margin: auto;
  padding: 40px 0px;

  .bio {
    text-align: center;
    margin-bottom: 40px;
    .photo {
      width: 150px;
      height: auto;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 100px;
      margin-bottom: 20px;
    }
    .name {
      margin-bottom: 5px;
      font-size: 32px;
    }
    .description {
      font-size: 18px;
    }
  }
  .links {
    .link {
      text-align: center;
      color: black;
      border: 3px solid black;
      border-radius: 10px;
      display: block;
      margin-bottom: 20px;
      text-decoration: none;
      text-transform: uppercase;
      padding: 20px;
      font-weight: 700;
      transition: 0.3s ease all;
      box-shadow: 1px 1px 0px 0px black, 2px 2px 0px 0px black,
        3px 3px 0px 0px black, 4px 4px 0px 0px black, 5px 5px 0px 0px black;
      transform: translate(-5px, -5px);
      &:hover {
        color: white;
        box-shadow: 0px 0px 0px 0px;
        transform: translate(0px, 0px);
      }

      &.github:hover {
        background-color: black;
      }
      &.twitter:hover {
        background-color: #1d9bf0;
      }
      &.linkedin:hover {
        background-color: #0a66c2;
      }
    }
  }
}
